.large-text {
  font-size: clamp(2.25rem, 6.25vw, 96px);
  line-height: 1;
}

.no-move:hover {
  margin-bottom: -4px;
}

.no-scroll {
  height: 100vh;
  overflow: hidden;
}

.waves {
  display: none;
}

@media screen and (min-width: 1100px) {
  .waves {
    display: block;
  }
}
