.active-service-card {
  font-size: clamp(1.5rem, 3.125vw, 48px);
}

.inactive-service-card {
  font-size: clamp(1rem, 2.3438vw, 36px);
  line-height: 1.75rem;
}

.service-details {
  font-size: clamp(1rem, 1.3021vw, 1.5rem);
}

.pricing-small-text {
  font-size: clamp(1rem, 1.5625vw, 24px);
}

.price-text {
  font-size: clamp(1rem, 2.3438vw, 36px);
  line-height: 1.75;
}

.arrow2 {
  background-color: #ffde9d;
  color: #5d6567;
}
