@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Aclonica&display=swap");

body {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}

/* Use in Blog Page and Home Page */
.sub-heading {
  font-size: clamp(1.5rem, 3.125vw, 48px);
}

/* Used in Contact Page and Home Page */
.page-heading {
  font-size: clamp(1.5rem, 4.6875vw, 72px);
}

/* Not Used */
.min-margin {
  padding: max(10em, auto);
}

/* Do I need this? Should be in tailwindCSS config file */
.blue-text {
  color: #3c97be;
}

/* For return from Covid: Need to apply class still and test out - not sure about min on clamp yet */
.navbar-links-text {
  width: clamp(12px, 1.1719vw, 1.125rem);
  line-height: 1.75rem;
}

/* ? Maybe moves these to tailwindConfig file? */
.title-text {
  font-family: "Aclonica", sans-serif;
}

.content-text {
  font-family: "ABeeZee", sans-serif;
  color: #5d6567;
}

.gradient-text {
  background: -webkit-linear-gradient(#eda9b2, #23b4d9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient {
  background: #ffde9d;
  /* background:linear-gradient(90deg, #EDA9B2, #23B4D9 ); */
}

.gradient-background {
  background: linear-gradient(90deg, #eda9b2, #23b4d9);
}

.gradient-bg {
  background: -webkit-linear-gradient(#eda9b2, #23b4d9);
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 20s linear infinite;
  -moz-animation: rotating 20s linear infinite;
  -ms-animation: rotating 20s linear infinite;
  -o-animation: rotating 20s linear infinite;
  animation: rotating 20s linear infinite;
}
